# LangChain 관련
langchain==0.*
langchain-core==0.*
langchain-community==0.*
langchain-openai==0.*
langchain-text-splitters==0.*
langchain-chroma==0.*
langgraph==0.*
langsmith==0.*
openai==1.*
deepl==1.*
kiwipiepy==0.*
konlpy==0.*

# 데이터 처리 및 분석 관련 패키지
pandas==2.*
rank-bm25==0.*

# 데이터베이스 및 캐시 관련 패키지
redis==5.*
chromadb==0.*

# 시각화 및 사용자 인터페이스 관련 패키지
matplotlib==3.*
streamlit==1.*
jupyter==1.*
notebook==7.*

# 딥러닝 및 머신러닝 관련 패키지
torch==2.*
torchvision==0.*
faiss-cpu==1.*
open-clip-torch==2.*

# 기타 유틸리티 및 필수 패키지
python-dotenv==1.*
pydantic==2.*
lxml==5.*
pillow==10.*
lark==1.*
ragas==0.*
unstructured[all-docs]==0.*
arxiv==2.*
tiktoken==0.*
tenacity==8.*
pymilvus==2.*
google-search-results==2.*
protobuf==3.*
sqlalchemy==2.*
llama-index-core==0.*
llama-parse==0.*
llama-index-readers-file==0.*
flashrank==0.*
docx2txt==0.*
nest-asyncio==1.*
rapidocr-onnxruntime==1.*
seaborn==0.*
grandalf==0.*
rouge-score==0.*
langchain-ollama==0.*
mypy==1.*
pinecone==5.*
wikipedia==1.*
scikit-learn==1.*
